* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAFAFA;
    height: 400vh;
}

.container {
    min-height:100%;
	position:relative;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 100px;
    transition: 0.6s;
    z-index: 100000;
}

header.sticky {
    background-color: white;
    padding: 20px 100px;
}

header .logo {
    cursor: pointer;
    position: relative;
    transition: 0.6s;
    margin-right: auto;
    margin-inline-end: auto;
}

header .navigation {
    position: relative;
    display:flex;
    margin-right: auto;
    margin-inline-end: auto;
}

header .navigation li {
    position: relative;
    list-style: none;
    min-height: 35px;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
}

header .navigation li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: 400px;
    transition: all 0.6s ease 0s;
}

.navigation li a:hover {
    color: #205072;
}

.navigation li:hover {
    background-color: rgba(228, 239, 241, 0.8);
    border-radius: 10px;
}

.navigation li.active {
    background-color: #99b5c9;
    border-radius: 10px;
    font-weight: 700;
}

button {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.masuk button {
    margin-left: 20px;
    padding: 9px 25px;
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.masuk button:hover {
    background-color: rgba(245, 245, 245, 0.8);
    color: #205072;
}

.daftar button {
    margin-left: 20px;
    padding: 9px 25px;
    color: white;
    background-color: #205072;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.daftar button:hover {
    background-color: rgba(93, 208, 253, 0.8);
    color: #205072;
}

.banner {
    position: relative;
    width: 100%;
    height: 50vh;
    background-size: cover;
}
.mySlides {
    position: absolute;
    width: 100%;
    height: 50vh;
    border-radius: 0 0 50px 50px;
}

.w3-button {
    color: #FAFAFA;
    background-color: #205072;
}

h1 {
    position: absolute;
    display: block;
    color:#205072;
    top: 120px;
    margin-left: 110px;
    font-size: 3.12vw;
    font-weight: 900;
}

hr {
    display: block;
    margin-top:0;
    content: " ";
    height:0pt;
}

p {
    position: absolute;
    display: block;
    color: #205072;
    top: 200px;
    margin-left: 110px;
    font-size: 1.25vw;
    font-weight: 500;
    width: 520px;
}

form {
    position: absolute;
    margin: 270px 110px;
}

input {
    border-radius: 50px;
    width: 500px;
    padding-left: 25px;
    border: none;
    font-size: 12px;
    height: 25px;
}

form i {
    color: white;
}

.tabs {
    position: absolute;
    margin-top: 50px;
    margin-left: 110px;
    height: 285vh;
    display: grid;
    grid-template-columns: 1300px;
    grid-gap: 10px;
    grid-row: auto;
    background-color:transparent;
    overflow: hidden;
}

.tabs .tab-top {
    margin-right: 500px;
}

.tabs .tab-top .tab-header {
    height: 30px;
    display: flex;
    align-items: left;
}

.tabs .tab-top .tab-header > .tablinks {
    width: calc(100% / 4);
    text-align: center;
    color: black;
    font-weight: 300;
    cursor: pointer;
    font-size: 14px;
}

.tabs .tab-top .tab-header > .tablinks.active-tab {
    color: #205072;
    font-weight: 500;
}

.tabs .tab-top .tab-indicator {
    position: relative;
    width: calc(100% / 4);
    height: 5px;
    background-color: #329D9C;
    left: 0px;
    border-radius: 5px;
}

.tabs .horizontal {
    position: absolute;
    width: 1300px;
    height: 5px;
    background-color: #EAEAEA;
    left: 0px;
    border-radius: 5px;
    transform: translate(0, 30px);
}

.tabs .tab-body {
    /* position: relative; */
    top: -1000px;
    width: 100%;
    height: calc(100%- 30px);
    overflow: hidden;
}

.tabs .tab-body > .list-tab {
    position: absolute;
    opacity: 0;
    top: -200%;
    margin-top: 10px;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms,
    transform 500ms ease-in-out 0ms;
}

.tabs .tab-body > .list-tab.active-tab {
    top: 50px;
    opacity: 1;
    margin-top: 0px;
    transform: scale(1);
}

.content {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1300px;
    grid-row: auto;
    grid-gap: 10px;
    position: relative;
    align-items: center;
    height: fit-content;
}

.content div {
    justify-content: center;
}

.content div .deskripsi-potensi {
    padding: 0;
}

.content div .deskripsi-potensi h1 {
    margin-left: 50px;
    top: 0;
    font-size: 30px;
    font-weight: 700;
}

br {
    content: " ";
    display: block;
    margin: 10px 0px;
}

.content div .deskripsi-potensi p {
    margin-left: 50px;
    top: 75px;
    font-size: 16px;
    font-weight: 300;
    width: 92%;
    text-align: justify;
}

.content div .slideslider-potensi {
    top: 0;
    margin-top: 300px;
}

.content div .box {
    width: 350px;
    box-shadow: 2px 2px 30px rgba(228, 239, 241, 0.8);
    overflow: hidden;
    /* position: absolute;
    top: 300px;
    left: 35%; */
    border-radius: 50px;
    margin: 25px;
}

.content div .slide-img {
    height: 515px;
    position: relative;
}

.content div .slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    align-items: center;
    box-sizing: border-box;
    height: 60px;
    background-color: #329D9C;
    color: #FAFAFA;
    font-weight: 600;
}

.type {
    display: flex;
    flex-direction: column;
}

.type a {
    text-decoration: none;
}

.overlay {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #0000006e;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.overlay a {
    letter-spacing: 1;
    font-size: 28px;
    font-weight: 700;
    color: white;
    visibility: visible;
}

.slide-img:hover .overlay, .slide-img:hover .overlay a {
    visibility: hidden;
    animation: fade 0.5s;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.content div .slideslider-potensi .cs-hidden li {
    list-style: none;
}

.content div .collapse {
    margin-top: 0px;
    width: 1300px;
    height: 600px;
    overflow: hidden;
}

.content div .img-slider {
    position: relative;
    left: 11%;
    width: 1000px;
    height: 600px;
}

.img-slider .slide {
    left: 0;
    width: 1000px;
    height: 600px;
    position: absolute;
    display: flex;
    clip-path: circle(0.0% at 0 50%);
}

.img-slider .slide.active-imgslider {
    clip-path: circle(300% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.img-slider .slide .image {
    position: absolute;
    align-items: center;
    z-index: 1;
    width: 600px;
    height: 600px;
    right: 0;
}

.img-slider .slide .info {
    position: absolute;
    top:75px;
    width: 400px;
    height: 600px;
    left: 0;
    padding: 100px 30px;
}

.img-slider .slide .info h2 {
    color: #205072;
    font-size: 28px;
    font-weight: 700;
}

.img-slider .slide .info h3 {
    color: #329D9C;
    font-size: 24px;
    font-weight: 500;
}

.img-slider .slide .info h4 {
    color: #205072;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #eaeaea81;
}

.img-slider .rounded-navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    top: 450px;
    left: 3%;
}

.img-slider .rounded-navigation .btnround {
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #DDDDDD;
    box-shadow: #535353;
}
.img-slider .rounded-navigation > .btnround.active-btn, .rounded-navigation .btnround:hover {
    background-color: #329D9C;
    box-shadow: #535353;
}

.img-slider .slide .box2 {
    width: 500px;
    box-shadow: 2px 2px 10px rgba(95, 95, 95, 0.8);
    top: 100px;
    left: 25px;
    overflow: hidden;
    border-radius: 50px;
    margin: 25px;
}

.img-slider .slide .box2 .slide-img {
    height: 300px;
    position: relative;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.posisi {
    position: relative;
}

.type-new {
    display: flex;
    flex-direction: column;
}

.type-new a {
    text-decoration: none;
}

.content2 {
    position: absolute;
    margin-top: 50px;
    margin-left: 0px;
    height: 400vh;
    display: grid;
    grid-template-columns: 1300px;
    grid-gap: 10px;
    grid-row: auto;
    overflow: hidden;
}

.content2 .sidebar {
    float: left;
    width: 300px;
    height: 100%;
    padding: 0px 0px;
}

.content2 .sidebar > div {
    display: block;
    padding: 10px 10px 10px 20px;
    color: black;
    width: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.content2 .sidebar > div:hover {
    background-color: #2050724d;
    color: #205072;
    font-weight: 500;
    font-size: 14px;
    opacity: 60%;
}

.content2 .sidebar > div.active-bar {
    background-color: #67a2cc4d;
    color: #205072;
    font-weight: 500;
    font-size: 14px;
}
.content2 .isi {
    /* position: relative; */
    width: calc(100%-300px);
    height: 100%;
    margin-left: 300px;
    margin-top: 30px;
    overflow: hidden;
}

.content2 .isi > div {
    position: absolute;
    text-align: left;
    padding: 0px 20px;
    top: -1000%;
}

.content2 .isi > div.active-bar {
    top: 0px;
    margin-top: 0px;
}

.content2 .isi .judul-menu {
    color: #329D9C;
    font-size: 20px;
    font-weight: 700;
    top: -10px;
    left: -70px;
    width: 500px;
}

.content2 .isi .card {
    display: flex;
    width: 1000px;
    height: 100%;
    margin-top: 40px;
    margin-left: 0px;
}

.content2 .isi .card .card-layanan {
    position: relative;
    width: 225px;
    box-shadow: 0px 3px 6px rgba(95, 95, 95, 0.226);
    margin-left: 19px;
    overflow: hidden;
    border-radius: 35px;
    border-color: #EAEAEA;
    background-color:#FFFFFF;
    cursor: pointer;
}

.content2 .isi .card .card-layanan .img-layanan {
    height: 105px;
    position: relative;
    top: 6%;
    left: 30%;
}

.content2 .isi .card .card-layanan .img-layanan img {
    width: 40%;
    height: auto;
    box-sizing: content-box;
}

.keterangan-layanan {
    width: 100%;
    display: block;
    justify-content: center;
    padding: 10px 20px;
    align-items:center;
    box-sizing: border-box;
    height: 135px;
    color: #000;
    text-align: center;
}

.type-keterangan {
    display: flex;
    flex-direction: column;
}

.type-keterangan a {
    text-decoration: none;
    font-size: 13px;
    font-weight:300; 
}

.type-keterangan a.sub-judul {
    text-decoration: none;
    font-size: 15px;
    font-weight:800;
}

.keterangan-layanan .type-keterangan br {
    content: " ";
    display: block;
    margin: 5px 0px;
}

.form-masuk {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.window {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 45%; /* Could be more or less, depending on screen size */
    height: 60%;
    border-radius: 60px;
    padding-top: 3%;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 5%;
    margin-top: -4%;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.logo-form {
    top: 0;
    margin-left: 45%;
}

.tabs-form {
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
    height: 35%;
    display: grid;
    grid-template-columns: 600px;
    grid-gap: 10px;
    grid-row: auto;
    background-color: transparent;
    overflow: hidden;
}

.tabs-form .tab-top-form {
    width: 300px;
    margin-left: 25%;
}

.tabs-form .tab-top-form .tab-header-form {
    height: 30px;
    display: flex;
    align-items: center;
}

.tabs-form .tab-top-form .tab-header-form > .tablinks-form {
    width: calc(100% / 2);
    text-align: center;
    color: black;
    font-weight: 300;
    cursor: pointer;
    font-size: 14px;
}

.tabs-form .tab-top-form .tab-header-form > .tablinks-form.active-tab-form {
    color: #205072;
    font-weight: 500;
}

.tabs-form .tab-top-form .tab-indicator-form {
    position: relative;
    width: calc(100% / 2);
    height: 5px;
    background-color: #329D9C;
    left: 0px;
    border-radius: 5px;
}

.tabs-form .tab-body-form {
    top: -1000px;
    width: 100%;
    height: calc(100% - 30px);
    overflow: hidden;
}

.tabs-form .tab-body-form > .list-tab-form {
    position: absolute;
    opacity: 0;
    top: -200%;
    margin-top: 10px;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms,
    transform 500ms ease-in-out 0ms;
}

.tabs-form .tab-body-form > .list-tab-form.active-tab-form {
    top: 50px;
    opacity: 1;
    margin-top: 0px;
    transform: scale(1);
}

.isi-form {
    width: 600px;
    height: fit-content;
    position: relative;
}
.pop-up {
    display: grid;
    margin-top: 5%;
    width: 100%;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-gap: 15px;
}

.field-form {
    text-align: right;
    align-self: right;
}
  
.field-form div {
    margin-bottom: 30px;
}

.field-form.daftar div {
    margin-bottom: 10px;
}

.content-form div {
    width: max-content;
    height: 50%;
}

.content-form.daftar div {
    width: max-content;
    height: 35%;
}

.content-form div form {
    margin: 0px 10px;
}

.content-form div input {
    border-radius: 50px;
    width: 300px;
    padding-left: 25px;
    border: none;
    font-size: 12px;
    height: 25px;
    border-color: #535353;
    background-color: #e4e4e4;
}

.check {
    position: relative;
    display: flex;
    margin-left: 23%;
}

.check > input {
    margin-top: .3rem;
    padding-left: 50%;
    width: 15%;
    height: fit-content;
}
.check > label {
    top: 0;
    width: 40%;
    padding-right: 20%;
    font-size: 10pt;
}

.tombol {
    width: 100%;
    text-align: right;
    transform: scale(-25px, 0px);
}

.tombol.daftar {
    margin-top: 5%;
    width: 100%;
    text-align: right;
    transform: scale(-25px, 0px);
}

.masuk-form button, .daftar-form button {
    color: white;
    background-color: #205072;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    padding: 13px 50px;
}

footer {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 200px;
    grid-gap: 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color:#e4e4e4 ;
    background-size: cover;
    height: 350px;
}

.footer_img {
    position: absolute;
    bottom:0px;
    width: 100%;
    height: 30%;
    background: url(assets/footerblu.png) repeat;
    background-repeat: repeat-x;
}

footer > div {
    margin-right: 50px;
    padding-top: 60px;
    font-size: 16px;
    font-weight: 500;
}

footer h5 {
    margin-left: 100px;
    font-weight: 700;
    width: 350px;
    font-size: 20px;
}

footer h4 {
    margin-left: 30px;
    font-weight: 700;
    width: 250px;
    font-size: 20px;
}

footer h6 {
    margin-left: 100px;
    width: 350px;
    font-size: 14px;
}

.vertical { 
    border-left: 3px solid black; 
    height: 120px; 
    position:absolute; 
    top: 20%;
    left: 31%; 
} 

footer .play-store {
    margin-left: 20px;
}

footer .footer-icon {
    top:20%;
    left: 52%;
    position:absolute; 
}

footer h2 {
    padding-top:110px;
    text-align: right;
    font-weight: 500;
    font-size: 16px;
}

footer h3 {
    text-align: right;
    font-weight: 200px;
    font-size: 14px;
}

@media screen and (max-width: 1055px) {
    header, header.sticky{
        padding: 20px 40px;
    }

    header .navigation {
        display: none;
        overflow: hidden;
        transition: all 0.1s ease 0s;
    }

    header .navigation.active {
        width: 120px;
        height: calc(100%-88px);
        position: fixed;
        top: 80px;
        right:0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #205072;
        background-color: white;
    }
    .banner {
        position: relative;
        width: auto;
        display: flex;
    }

    .mySlides {
        height: auto;
    }

    header .logo img {
        padding-left: 20px;
        width: 90%;
        height: auto;
    }

    .menuToogle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(assets/menu.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToogle.active {
        background: url(assets/x.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
    }

    button {
        font-size: 12px;
        margin-left: auto;
        padding: auto auto;
    }
    
    .masuk button,  .daftar button {
        margin-left: auto;
        padding: auto auto;
    }
}